@CHARSET "EUC-KR";

.navbar-xs{
		height: 28px;
	}
	.navbar-xs .navbar-default .navbar { min-height:28px; height: 28px; }
	.navbar-xs .navbar-default .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
	.navbar-xs .navbar-default .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
	
	.search_wrap {width:980px; height:127px; position:relative;}
	.search_wrap .h1logo {width:172px; height:42px; position:absolute; left:148px; top:47px;}
	.search_wrap .search_area { width:429px; height:38px; position:absolute; left:340px; top:49px; }
	.search_wrap .search_area .search_window { float:left; width:364px; height:30px; border:#d62421 4px solid;}
	.search_wrap .search_area .search_window input {float:left; width:344px; height:20px; padding:5px 10px; /*background:url('/image/main2013/common_img.png') no-repeat right bottom;*/ line-height:20px;}
	
	.search_wrap .search_area .search_btn { float:right; text-indent:-100000px; width:52px; height:38px; background:url('/image/main2013/common_img.png') no-repeat -30px -180px;}
	
	.h1logo {width:172px; height:42px; position:absolute; left:148px; top:47px;}
	
	#search_input{
		float:left; width:364px; height:30px; border:#d62421 4px solid;
	}
	
	.navbar-default .sidebar{
		width: 150px;
	}	
	#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
	}

	@media(min-width:768px) {
	    #page-wrapper {
	        position: inherit;
	        margin: 0 0 0 150px;
	        padding: 0 30px;
	        border-left: 1px solid #e7e7e7;
	    }
	}
	.sidebar ul li {
    border-bottom: 0px solid #e7e7e7;
	}
	
	@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 0px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }    
	}
	@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 0px solid #e7e7e7;
    }
	}
	
	#cont{

	position : fixed;
	
	left: 50%;
	
	height: 0px;
	
	}
	
	 
	
	#float_layer{
	
	top: 200px;
	
	margin-left: 200px;
	
	text-align: center;
	
	}
	
	.fixed-bottom-right{
		position: fixed;
		bottom: auto;
		top: 105px;
		left: 90%;
		margin-bottom: 0 auto;
		z-index: 900;
	}
	
	#login {
		font-family: "Times New Roman", Times, serif;
	}
