
#line {
	border: 0.5px solid black;
}

#head {
	height: 0px;
	padding: 10px;
	border: 2px solid gold;
}

.container {
	margin: 0px auto;
	padding: 0px;
}

.content {
	padding: 20px;
	margin-bottom: 20px;
	border: 0.5px solid black;
	overflow: hidden;
}

.text {
	text-align: center;
}

th, tr, td {
	padding: 20px;
}
