h1 {
	text-align: center;
}

.container{
	margin: 0px auto;
	padding: 20px;
}

	.fixed-bottom-left{
		position: fixed;
		bottom: auto;
		top: 105px;
		right: 80%;
		margin-bottom: 0 auto;
		z-index: 900;
	}